html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#content {
  display: flex;
  justify-content: center;
}

/* Homepage (home.js) */
.homepage {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.homepage .logo-container {
  width: min-content;
  height: min-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage img {
  width: 250px;
  height: 250px;
}

.homepage p {
  font-size: 1.2rem;
  width: 300px;
}