@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #30312b;
  color: #fcffe5;
  font-family: 'Poppins', sans-serif;
}

/* Main page */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  font-size: 1.1rem;
  padding: 8px 12%;
  height: 60px;
  width: 100%;
  margin-bottom: 80px;
  border-bottom: 2px solid #454641;
  display: flex;
  align-items: center;
}

.navbar a {
  cursor: pointer;
  padding: 10px 25px;
  font-weight: 900;
  display: flex;
  align-items: center;
  color: #fcffe5;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.navbar a:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.navbar .logo {
  margin-right: auto;
}

.navbar .nav-links {
  display: flex;
  column-gap: 40px;
}

.navbar .active {
  background-color: #f2f2f2;
  color: #30312b;
  border-radius: 5px;
}

/* Homepage (home.js) */
.homepage {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.homepage .logo-container {
  width: min-content;
  height: min-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container a {
  text-decoration: none;
  color: #fcffe5;
}

.homepage img {
  background-color: #ff8c00;
  width: 250px;
  height: 250px;
  padding: 12px;
  border-radius: 12px;
}

.homepage p {
  width: 300px;
}

/* Menu (menu.js) */
.menu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.menu .item {
  width: 450px;
  padding: 4px;
  font-size: 1rem;
  background-color: #ff8c00;
  color: #30312b;
  display: flex;
  column-gap: 10px;
  border-radius: 12px;
}

.menu .item .left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .item img {
  padding: 8px;
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.menu .item .price {
  margin: 0;
  margin-top: 4px;
}

.menu .name {
  font-size: 1.4rem;
  font-weight: 700;
}

.menu .name,
.menu .description {
  padding-right: 12px;
}